HL7v3 Edition2008 cd1/support/dtd/v3InternalMarkup.DTD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by George W Beeler (Beeler Consulting LLC) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ENTITY % allstuff "#PCDATA | B | b | I | i | OL | ol | UL | ul | diagref | xspecref | graphic | artref | p | P">
<!ENTITY % challstuff "(%allstuff;)*">
<!ELEMENT B (#PCDATA)>
<!ELEMENT b (#PCDATA)>
<!ELEMENT I (#PCDATA)>
<!ELEMENT i (#PCDATA)>
<!ELEMENT p %challstuff;>
<!ELEMENT P %challstuff;>
<!ELEMENT LI %challstuff;>
<!ELEMENT li %challstuff;>
<!ELEMENT artref EMPTY>
<!ATTLIST artref
	ref NMTOKEN #REQUIRED
	alt CDATA #REQUIRED
>
<!ELEMENT graphic EMPTY>
<!ATTLIST graphic
	source CDATA #REQUIRED
	alt CDATA #REQUIRED
>
<!ATTLIST diagref
	ref CDATA #REQUIRED
>
<!ELEMENT diagref EMPTY>
<!ATTLIST xspecref
	spec CDATA #REQUIRED
	ref CDATA #IMPLIED
	alt CDATA #IMPLIED
>
<!ELEMENT xspecref EMPTY>
<!ELEMENT OL ((LI | li)+)>
<!ELEMENT ol ((LI | li)+)>
<!ELEMENT UL ((LI | li)+)>
<!ELEMENT ul ((LI | li)+)>
<!ELEMENT x %challstuff;>
