HL7v3 Edition2008 cd1/infrastructure/cts/wsdl/MessageRuntime.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn://hl7.org/CTSMAPI" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn://hl7.org/CTSMAPI" xmlns:intf="urn://hl7.org/CTSMAPI" xmlns:tns2="urn://cts.hl7.org/types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn://hl7.org/CTSMAPI" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn://cts.hl7.org/types"/>
   <element name="getSupportedMatchAlgorithms">
    <complexType/>
   </element>
   <element name="getSupportedMatchAlgorithmsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportedMatchAlgorithmsReturn" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UnexpectedError">
    <sequence>
     <element name="possible_cause" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault" type="impl:UnexpectedError"/>
   <element name="getSupportedVocabularyDomains">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:ST"/>
      <element name="in1" type="tns2:ST"/>
      <element name="in2" type="xsd:int"/>
      <element name="in3" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSupportedVocabularyDomainsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportedVocabularyDomainsReturn" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="BadlyFormedMatchText">
    <sequence>
     <element name="matchText" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault1" type="impl:BadlyFormedMatchText"/>
   <complexType name="UnknownMatchAlgorithm">
    <sequence>
     <element name="matchAlgorithm_code" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault2" type="impl:UnknownMatchAlgorithm"/>
   <complexType name="TimeoutError">
    <sequence/>
   </complexType>
   <element name="fault3" type="impl:TimeoutError"/>
   <element name="validateCode">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:ST"/>
      <element name="in1" type="tns2:CD"/>
      <element name="in2" type="tns2:ST"/>
      <element name="in3" type="tns2:BL"/>
      <element name="in4" type="tns2:BL"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_tns2_ED">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:ED"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_CR">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:CR"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_CD">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:CD"/>
    </sequence>
   </complexType>
   <element name="validateCodeResponse">
    <complexType>
     <sequence>
      <element name="validateCodeReturn" type="impl:ValidateCodeReturn"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ValidationDetail">
    <sequence>
     <element name="codeInError" nillable="true" type="tns2:CD"/>
     <element name="isError" nillable="true" type="tns2:BL"/>
     <element name="error_id" nillable="true" type="tns2:ST"/>
     <element name="errorText" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfValidationDetail">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:ValidationDetail"/>
    </sequence>
   </complexType>
   <complexType name="ValidateCodeReturn">
    <sequence>
     <element name="nErrors" nillable="true" type="tns2:INT"/>
     <element name="nWarnings" nillable="true" type="tns2:INT"/>
     <element name="detail" nillable="true" type="impl:ArrayOfValidationDetail"/>
    </sequence>
   </complexType>
   <complexType name="UnknownVocabularyDomain">
    <sequence>
     <element name="vocabularyDomain_name" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault4" type="impl:UnknownVocabularyDomain"/>
   <complexType name="UnknownApplicationContextCode">
    <sequence>
     <element name="applicationContext_code" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault5" type="impl:UnknownApplicationContextCode"/>
   <complexType name="NoApplicableValueSet">
    <sequence>
     <element name="vocabularyDomain_name" nillable="true" type="tns2:ST"/>
     <element name="applicationContext_code" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault6" type="impl:NoApplicableValueSet"/>
   <element name="validateTranslation">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:ST"/>
      <element name="in1" type="tns2:CD"/>
      <element name="in2" type="tns2:ST"/>
      <element name="in3" type="tns2:BL"/>
      <element name="in4" type="tns2:BL"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateTranslationResponse">
    <complexType>
     <sequence>
      <element name="validateTranslationReturn" type="impl:ValidateCodeReturn"/>
     </sequence>
    </complexType>
   </element>
   <element name="translateCode">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:ST"/>
      <element name="in1" type="tns2:CD"/>
      <element name="in2" type="tns2:UID"/>
      <element name="in3" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <element name="translateCodeResponse">
    <complexType>
     <sequence>
      <element name="translateCodeReturn" type="tns2:CD"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UnknownCodeSystem">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="tns2:UID"/>
    </sequence>
   </complexType>
   <element name="fault7" type="impl:UnknownCodeSystem"/>
   <complexType name="UnableToTranslate">
    <sequence/>
   </complexType>
   <element name="fault8" type="impl:UnableToTranslate"/>
   <element name="fillInDetails">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:CD"/>
      <element name="in1" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <element name="fillInDetailsResponse">
    <complexType>
     <sequence>
      <element name="fillInDetailsReturn" type="tns2:CD"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ConceptId">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="tns2:UID"/>
     <element name="concept_code" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <complexType name="UnknownConceptCode">
    <sequence>
     <element name="concept_id" nillable="true" type="impl:ConceptId"/>
    </sequence>
   </complexType>
   <element name="fault9" type="impl:UnknownConceptCode"/>
   <complexType name="UnknownLanguage">
    <sequence>
     <element name="language_code" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault10" type="impl:UnknownLanguage"/>
   <complexType name="NoApplicableDesignationFound">
    <sequence>
     <element name="codeToFillIn" nillable="true" type="tns2:CD"/>
     <element name="displayLanguage_code" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <element name="fault11" type="impl:NoApplicableDesignationFound"/>
   <element name="subsumes">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:CD"/>
      <element name="in1" type="tns2:CD"/>
     </sequence>
    </complexType>
   </element>
   <element name="subsumesResponse">
    <complexType>
     <sequence>
      <element name="subsumesReturn" type="tns2:BL"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="SubsumptionNotSupported">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="tns2:UID"/>
    </sequence>
   </complexType>
   <element name="fault12" type="impl:SubsumptionNotSupported"/>
   <complexType name="UnrecognizedQualifier">
    <sequence>
     <element name="qualifier" nillable="true" type="tns2:CR"/>
    </sequence>
   </complexType>
   <element name="fault13" type="impl:UnrecognizedQualifier"/>
   <complexType name="QualifiersNotSupported">
    <sequence/>
   </complexType>
   <element name="fault14" type="impl:QualifiersNotSupported"/>
   <element name="areEquivalent">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:CD"/>
      <element name="in1" type="tns2:CD"/>
     </sequence>
    </complexType>
   </element>
   <element name="areEquivalentResponse">
    <complexType>
     <sequence>
      <element name="areEquivalentReturn" type="tns2:BL"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupValueSetExpansion">
    <complexType>
     <sequence>
      <element name="in0" type="tns2:ST"/>
      <element name="in1" type="tns2:ST"/>
      <element name="in2" type="tns2:ST"/>
      <element name="in3" type="tns2:BL"/>
      <element name="in4" type="xsd:int"/>
      <element name="in5" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupValueSetExpansionResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="lookupValueSetExpansionReturn" type="impl:ValueSetExpansion"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ValueSetDescriptor">
    <sequence>
     <element name="valueSet_id" nillable="true" type="tns2:UID"/>
     <element name="valueSet_name" nillable="true" type="tns2:ST"/>
    </sequence>
   </complexType>
   <complexType name="ValueSetExpansion">
    <sequence>
     <element name="pathLength" nillable="true" type="tns2:INT"/>
     <element name="nodeType_code" nillable="true" type="tns2:ST"/>
     <element name="valueSet" nillable="true" type="impl:ValueSetDescriptor"/>
     <element name="concept_id" nillable="true" type="impl:ConceptId"/>
     <element name="displayName" nillable="true" type="tns2:ST"/>
     <element name="isExpandable" nillable="true" type="tns2:BL"/>
     <element name="expansionContext" type="xsd:base64Binary"/>
    </sequence>
   </complexType>
   <element name="expandValueSetExpansionContext">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="expandValueSetExpansionContextResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="expandValueSetExpansionContextReturn" type="impl:ValueSetExpansion"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="InvalidExpansionContext">
    <sequence/>
   </complexType>
   <element name="fault15" type="impl:InvalidExpansionContext"/>
   <element name="getServiceName">
    <complexType/>
   </element>
   <element name="getServiceNameResponse">
    <complexType>
     <sequence>
      <element name="getServiceNameReturn" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceVersion">
    <complexType/>
   </element>
   <element name="getServiceVersionResponse">
    <complexType>
     <sequence>
      <element name="getServiceVersionReturn" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceDescription">
    <complexType/>
   </element>
   <element name="getServiceDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getServiceDescriptionReturn" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <element name="getHL7ReleaseVersion">
    <complexType/>
   </element>
   <element name="getHL7ReleaseVersionResponse">
    <complexType>
     <sequence>
      <element name="getHL7ReleaseVersionReturn" type="tns2:ST"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCTSVersion">
    <complexType/>
   </element>
   <element name="getCTSVersionResponse">
    <complexType>
     <sequence>
      <element name="getCTSVersionReturn" type="impl:CTSVersionId"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CTSVersionId">
    <sequence>
     <element name="major" nillable="true" type="tns2:INT"/>
     <element name="minor" nillable="true" type="tns2:INT"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="urn://cts.hl7.org/types" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn://hl7.org/CTSMAPI"/>
   <complexType name="ST">
    <sequence>
     <element name="v" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="binary_or_text">
    <sequence>
     <element name="itemType" nillable="true" type="xsd:anyType"/>
     <element name="binaryValue" type="xsd:base64Binary"/>
     <element name="textualValue" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ED">
    <sequence>
     <element name="_this" nillable="true" type="tns2:binary_or_text"/>
     <element name="encoding" nillable="true" type="xsd:string"/>
     <element name="mediaType" nillable="true" type="xsd:string"/>
     <element name="compression" nillable="true" type="xsd:string"/>
     <element name="integrityCheck" type="xsd:base64Binary"/>
     <element name="reference" nillable="true" type="xsd:string"/>
     <element name="ingegrityCheckAlgorithm" nillable="true" type="xsd:string"/>
     <element name="charset" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
     <element name="thumbnail" nillable="true" type="impl:ArrayOf_tns2_ED"/>
    </sequence>
   </complexType>
   <complexType name="CS">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="originalText" nillable="true" type="tns2:ED"/>
     <element name="codingRationale" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CV">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="codeSystem" nillable="true" type="xsd:string"/>
     <element name="codeSystemName" nillable="true" type="xsd:string"/>
     <element name="codeSystemVersion" nillable="true" type="xsd:string"/>
     <element name="displayName" nillable="true" type="xsd:string"/>
     <element name="originalText" nillable="true" type="tns2:ED"/>
     <element name="codingRationale" nillable="true" type="tns2:CS"/>
    </sequence>
   </complexType>
   <complexType name="BL">
    <sequence>
     <element name="v" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="CR">
    <sequence>
     <element name="name" nillable="true" type="tns2:CV"/>
     <element name="value" nillable="true" type="tns2:CV"/>
     <element name="inverted" nillable="true" type="tns2:BL"/>
    </sequence>
   </complexType>
   <complexType name="CD">
    <sequence>
     <element name="code" nillable="true" type="xsd:string"/>
     <element name="codeSystem" nillable="true" type="xsd:string"/>
     <element name="codeSystemName" nillable="true" type="xsd:string"/>
     <element name="codeSystemVersion" nillable="true" type="xsd:string"/>
     <element name="displayName" nillable="true" type="xsd:string"/>
     <element name="qualifiers" nillable="true" type="impl:ArrayOf_tns2_CR"/>
     <element name="originalText" nillable="true" type="tns2:ED"/>
     <element name="translation" nillable="true" type="impl:ArrayOf_tns2_CD"/>
     <element name="codingRationale" nillable="true" type="tns2:CS"/>
    </sequence>
   </complexType>
   <complexType name="INT">
    <sequence>
     <element name="v" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="UID">
    <sequence>
     <element name="v" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="UnknownMatchAlgorithm">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="NoApplicableDesignationFound">

      <wsdl:part element="impl:fault11" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnexpectedError">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnrecognizedQualifier">

      <wsdl:part element="impl:fault13" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getCTSVersionRequest">

      <wsdl:part element="impl:getCTSVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="subsumesRequest">

      <wsdl:part element="impl:subsumes" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedVocabularyDomainsRequest">

      <wsdl:part element="impl:getSupportedVocabularyDomains" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownConceptCode">

      <wsdl:part element="impl:fault9" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getServiceDescriptionRequest">

      <wsdl:part element="impl:getServiceDescription" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="subsumesResponse">

      <wsdl:part element="impl:subsumesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownApplicationContextCode">

      <wsdl:part element="impl:fault5" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnknownCodeSystem">

      <wsdl:part element="impl:fault7" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getServiceVersionResponse">

      <wsdl:part element="impl:getServiceVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedMatchAlgorithmsRequest">

      <wsdl:part element="impl:getSupportedMatchAlgorithms" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnableToTranslate">

      <wsdl:part element="impl:fault8" name="fault"/>

   </wsdl:message>

   <wsdl:message name="lookupValueSetExpansionRequest">

      <wsdl:part element="impl:lookupValueSetExpansion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCTSVersionResponse">

      <wsdl:part element="impl:getCTSVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceNameResponse">

      <wsdl:part element="impl:getServiceNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="translateCodeRequest">

      <wsdl:part element="impl:translateCode" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="areEquivalentResponse">

      <wsdl:part element="impl:areEquivalentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedMatchAlgorithmsResponse">

      <wsdl:part element="impl:getSupportedMatchAlgorithmsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validateTranslationResponse">

      <wsdl:part element="impl:validateTranslationResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="TimeoutError">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getServiceNameRequest">

      <wsdl:part element="impl:getServiceName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validateTranslationRequest">

      <wsdl:part element="impl:validateTranslation" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="expandValueSetExpansionContextResponse">

      <wsdl:part element="impl:expandValueSetExpansionContextResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHL7ReleaseVersionResponse">

      <wsdl:part element="impl:getHL7ReleaseVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="expandValueSetExpansionContextRequest">

      <wsdl:part element="impl:expandValueSetExpansionContext" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validateCodeRequest">

      <wsdl:part element="impl:validateCode" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="QualifiersNotSupported">

      <wsdl:part element="impl:fault14" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getServiceDescriptionResponse">

      <wsdl:part element="impl:getServiceDescriptionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="validateCodeResponse">

      <wsdl:part element="impl:validateCodeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="NoApplicableValueSet">

      <wsdl:part element="impl:fault6" name="fault"/>

   </wsdl:message>

   <wsdl:message name="fillInDetailsResponse">

      <wsdl:part element="impl:fillInDetailsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="areEquivalentRequest">

      <wsdl:part element="impl:areEquivalent" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedVocabularyDomainsResponse">

      <wsdl:part element="impl:getSupportedVocabularyDomainsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceVersionRequest">

      <wsdl:part element="impl:getServiceVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="SubsumptionNotSupported">

      <wsdl:part element="impl:fault12" name="fault"/>

   </wsdl:message>

   <wsdl:message name="BadlyFormedMatchText">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="InvalidExpansionContext">

      <wsdl:part element="impl:fault15" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnknownLanguage">

      <wsdl:part element="impl:fault10" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnknownVocabularyDomain">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="lookupValueSetExpansionResponse">

      <wsdl:part element="impl:lookupValueSetExpansionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getHL7ReleaseVersionRequest">

      <wsdl:part element="impl:getHL7ReleaseVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="translateCodeResponse">

      <wsdl:part element="impl:translateCodeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fillInDetailsRequest">

      <wsdl:part element="impl:fillInDetails" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="RuntimeOperations">

      <wsdl:operation name="getSupportedMatchAlgorithms">

         <wsdl:input message="impl:getSupportedMatchAlgorithmsRequest" name="getSupportedMatchAlgorithmsRequest"/>

         <wsdl:output message="impl:getSupportedMatchAlgorithmsResponse" name="getSupportedMatchAlgorithmsResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedVocabularyDomains">

         <wsdl:input message="impl:getSupportedVocabularyDomainsRequest" name="getSupportedVocabularyDomainsRequest"/>

         <wsdl:output message="impl:getSupportedVocabularyDomainsResponse" name="getSupportedVocabularyDomainsResponse"/>

         <wsdl:fault message="impl:UnknownMatchAlgorithm" name="UnknownMatchAlgorithm"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:BadlyFormedMatchText" name="BadlyFormedMatchText"/>

         <wsdl:fault message="impl:TimeoutError" name="TimeoutError"/>

      </wsdl:operation>

      <wsdl:operation name="validateCode">

         <wsdl:input message="impl:validateCodeRequest" name="validateCodeRequest"/>

         <wsdl:output message="impl:validateCodeResponse" name="validateCodeResponse"/>

         <wsdl:fault message="impl:NoApplicableValueSet" name="NoApplicableValueSet"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownApplicationContextCode" name="UnknownApplicationContextCode"/>

         <wsdl:fault message="impl:UnknownVocabularyDomain" name="UnknownVocabularyDomain"/>

      </wsdl:operation>

      <wsdl:operation name="validateTranslation">

         <wsdl:input message="impl:validateTranslationRequest" name="validateTranslationRequest"/>

         <wsdl:output message="impl:validateTranslationResponse" name="validateTranslationResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownApplicationContextCode" name="UnknownApplicationContextCode"/>

         <wsdl:fault message="impl:UnknownVocabularyDomain" name="UnknownVocabularyDomain"/>

      </wsdl:operation>

      <wsdl:operation name="translateCode">

         <wsdl:input message="impl:translateCodeRequest" name="translateCodeRequest"/>

         <wsdl:output message="impl:translateCodeResponse" name="translateCodeResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnableToTranslate" name="UnableToTranslate"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

         <wsdl:fault message="impl:UnknownApplicationContextCode" name="UnknownApplicationContextCode"/>

         <wsdl:fault message="impl:UnknownVocabularyDomain" name="UnknownVocabularyDomain"/>

      </wsdl:operation>

      <wsdl:operation name="fillInDetails">

         <wsdl:input message="impl:fillInDetailsRequest" name="fillInDetailsRequest"/>

         <wsdl:output message="impl:fillInDetailsResponse" name="fillInDetailsResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownLanguage" name="UnknownLanguage"/>

         <wsdl:fault message="impl:UnknownConceptCode" name="UnknownConceptCode"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

         <wsdl:fault message="impl:NoApplicableDesignationFound" name="NoApplicableDesignationFound"/>

      </wsdl:operation>

      <wsdl:operation name="subsumes">

         <wsdl:input message="impl:subsumesRequest" name="subsumesRequest"/>

         <wsdl:output message="impl:subsumesResponse" name="subsumesResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:SubsumptionNotSupported" name="SubsumptionNotSupported"/>

         <wsdl:fault message="impl:QualifiersNotSupported" name="QualifiersNotSupported"/>

         <wsdl:fault message="impl:UnknownConceptCode" name="UnknownConceptCode"/>

         <wsdl:fault message="impl:UnrecognizedQualifier" name="UnrecognizedQualifier"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

      </wsdl:operation>

      <wsdl:operation name="areEquivalent">

         <wsdl:input message="impl:areEquivalentRequest" name="areEquivalentRequest"/>

         <wsdl:output message="impl:areEquivalentResponse" name="areEquivalentResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:SubsumptionNotSupported" name="SubsumptionNotSupported"/>

         <wsdl:fault message="impl:QualifiersNotSupported" name="QualifiersNotSupported"/>

         <wsdl:fault message="impl:UnknownConceptCode" name="UnknownConceptCode"/>

         <wsdl:fault message="impl:UnrecognizedQualifier" name="UnrecognizedQualifier"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

      </wsdl:operation>

      <wsdl:operation name="lookupValueSetExpansion">

         <wsdl:input message="impl:lookupValueSetExpansionRequest" name="lookupValueSetExpansionRequest"/>

         <wsdl:output message="impl:lookupValueSetExpansionResponse" name="lookupValueSetExpansionResponse"/>

         <wsdl:fault message="impl:NoApplicableValueSet" name="NoApplicableValueSet"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownLanguage" name="UnknownLanguage"/>

         <wsdl:fault message="impl:TimeoutError" name="TimeoutError"/>

         <wsdl:fault message="impl:UnknownApplicationContextCode" name="UnknownApplicationContextCode"/>

         <wsdl:fault message="impl:UnknownVocabularyDomain" name="UnknownVocabularyDomain"/>

      </wsdl:operation>

      <wsdl:operation name="expandValueSetExpansionContext">

         <wsdl:input message="impl:expandValueSetExpansionContextRequest" name="expandValueSetExpansionContextRequest"/>

         <wsdl:output message="impl:expandValueSetExpansionContextResponse" name="expandValueSetExpansionContextResponse"/>

         <wsdl:fault message="impl:InvalidExpansionContext" name="InvalidExpansionContext"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:TimeoutError" name="TimeoutError"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceName">

         <wsdl:input message="impl:getServiceNameRequest" name="getServiceNameRequest"/>

         <wsdl:output message="impl:getServiceNameResponse" name="getServiceNameResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceVersion">

         <wsdl:input message="impl:getServiceVersionRequest" name="getServiceVersionRequest"/>

         <wsdl:output message="impl:getServiceVersionResponse" name="getServiceVersionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceDescription">

         <wsdl:input message="impl:getServiceDescriptionRequest" name="getServiceDescriptionRequest"/>

         <wsdl:output message="impl:getServiceDescriptionResponse" name="getServiceDescriptionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getHL7ReleaseVersion">

         <wsdl:input message="impl:getHL7ReleaseVersionRequest" name="getHL7ReleaseVersionRequest"/>

         <wsdl:output message="impl:getHL7ReleaseVersionResponse" name="getHL7ReleaseVersionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getCTSVersion">

         <wsdl:input message="impl:getCTSVersionRequest" name="getCTSVersionRequest"/>

         <wsdl:output message="impl:getCTSVersionResponse" name="getCTSVersionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MessageRuntimeServiceSoapBinding" type="impl:RuntimeOperations">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSupportedMatchAlgorithms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedMatchAlgorithmsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportedMatchAlgorithmsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedVocabularyDomains">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedVocabularyDomainsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportedVocabularyDomainsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnknownMatchAlgorithm">

            <wsdlsoap:fault name="UnknownMatchAlgorithm" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="BadlyFormedMatchText">

            <wsdlsoap:fault name="BadlyFormedMatchText" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="TimeoutError">

            <wsdlsoap:fault name="TimeoutError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="validateCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoApplicableValueSet">

            <wsdlsoap:fault name="NoApplicableValueSet" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownApplicationContextCode">

            <wsdlsoap:fault name="UnknownApplicationContextCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownVocabularyDomain">

            <wsdlsoap:fault name="UnknownVocabularyDomain" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="validateTranslation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateTranslationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateTranslationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownApplicationContextCode">

            <wsdlsoap:fault name="UnknownApplicationContextCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownVocabularyDomain">

            <wsdlsoap:fault name="UnknownVocabularyDomain" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="translateCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="translateCodeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="translateCodeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnableToTranslate">

            <wsdlsoap:fault name="UnableToTranslate" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownApplicationContextCode">

            <wsdlsoap:fault name="UnknownApplicationContextCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownVocabularyDomain">

            <wsdlsoap:fault name="UnknownVocabularyDomain" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="fillInDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fillInDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fillInDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownLanguage">

            <wsdlsoap:fault name="UnknownLanguage" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownConceptCode">

            <wsdlsoap:fault name="UnknownConceptCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoApplicableDesignationFound">

            <wsdlsoap:fault name="NoApplicableDesignationFound" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="subsumes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subsumesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subsumesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="SubsumptionNotSupported">

            <wsdlsoap:fault name="SubsumptionNotSupported" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="QualifiersNotSupported">

            <wsdlsoap:fault name="QualifiersNotSupported" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownConceptCode">

            <wsdlsoap:fault name="UnknownConceptCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnrecognizedQualifier">

            <wsdlsoap:fault name="UnrecognizedQualifier" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="areEquivalent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="areEquivalentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="areEquivalentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="SubsumptionNotSupported">

            <wsdlsoap:fault name="SubsumptionNotSupported" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="QualifiersNotSupported">

            <wsdlsoap:fault name="QualifiersNotSupported" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownConceptCode">

            <wsdlsoap:fault name="UnknownConceptCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnrecognizedQualifier">

            <wsdlsoap:fault name="UnrecognizedQualifier" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lookupValueSetExpansion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupValueSetExpansionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupValueSetExpansionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="NoApplicableValueSet">

            <wsdlsoap:fault name="NoApplicableValueSet" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownLanguage">

            <wsdlsoap:fault name="UnknownLanguage" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="TimeoutError">

            <wsdlsoap:fault name="TimeoutError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownApplicationContextCode">

            <wsdlsoap:fault name="UnknownApplicationContextCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownVocabularyDomain">

            <wsdlsoap:fault name="UnknownVocabularyDomain" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="expandValueSetExpansionContext">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="expandValueSetExpansionContextRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="expandValueSetExpansionContextResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidExpansionContext">

            <wsdlsoap:fault name="InvalidExpansionContext" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="TimeoutError">

            <wsdlsoap:fault name="TimeoutError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getHL7ReleaseVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHL7ReleaseVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getHL7ReleaseVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCTSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCTSVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCTSVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RuntimeOperationsService">

      <wsdl:port binding="impl:MessageRuntimeServiceSoapBinding" name="MessageRuntimeService">

         <wsdlsoap:address location="http://localhost:8080/axis/services/MessageRuntimeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
