HL7v3 Edition2008 cd1/infrastructure/cts/wsdl/VocabRuntime.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn://hl7.org/CTSVAPI" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn://hl7.org/CTSVAPI" xmlns:intf="urn://hl7.org/CTSVAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn://hl7.org/CTSVAPI" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSupportedCodeSystems">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:int"/>
      <element name="in1" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSupportedCodeSystemsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportedCodeSystemsReturn" type="impl:CodeSystemIdAndVersions"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CodeSystemIdAndVersions">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="xsd:string"/>
     <element name="codeSystem_name" nillable="true" type="xsd:string"/>
     <element name="copyright" nillable="true" type="xsd:string"/>
     <element name="codeSystem_versions" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="TimeoutError">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:TimeoutError"/>
   <complexType name="UnexpectedError">
    <sequence>
     <element name="possible_cause" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault1" type="impl:UnexpectedError"/>
   <element name="lookupCodeSystemInfo">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupCodeSystemInfoResponse">
    <complexType>
     <sequence>
      <element name="lookupCodeSystemInfoReturn" type="impl:CodeSystemInfo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CodeSystemInfo">
    <sequence>
     <element name="codeSystem" nillable="true" type="impl:CodeSystemIdAndVersions"/>
     <element name="fullName" nillable="true" type="xsd:string"/>
     <element name="codeSystemDescription" nillable="true" type="xsd:string"/>
     <element name="supportedLanguages" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="supportedRelations" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="supportedProperties" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="supportedMimeTypes" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="supportedRelationQualifiers" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="UnknownCodeSystem">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault2" type="impl:UnknownCodeSystem"/>
   <complexType name="CodeSystemNameIdMismatch">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="xsd:string"/>
     <element name="codeSystem_name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault3" type="impl:CodeSystemNameIdMismatch"/>
   <element name="isConceptIdValid">
    <complexType>
     <sequence>
      <element name="in0" type="impl:ConceptId"/>
      <element name="in1" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ConceptId">
    <sequence>
     <element name="codeSystem_id" nillable="true" type="xsd:string"/>
     <element name="concept_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="isConceptIdValidResponse">
    <complexType>
     <sequence>
      <element name="isConceptIdValidReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupDesignation">
    <complexType>
     <sequence>
      <element name="in0" type="impl:ConceptId"/>
      <element name="in1" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="lookupDesignationResponse">
    <complexType>
     <sequence>
      <element name="lookupDesignationReturn" type="impl:StringAndLanguage"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="StringAndLanguage">
    <sequence>
     <element name="text" nillable="true" type="xsd:string"/>
     <element name="language_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UnknownLanguageCode">
    <sequence>
     <element name="language_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault4" type="impl:UnknownLanguageCode"/>
   <complexType name="UnknownConceptCode">
    <sequence>
     <element name="concept_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault5" type="impl:UnknownConceptCode"/>
   <complexType name="NoApplicableDesignationFound">
    <sequence>
     <element name="concept_id" nillable="true" type="impl:ConceptId"/>
     <element name="language_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault6" type="impl:NoApplicableDesignationFound"/>
   <element name="areCodesRelated">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
      <element name="in1" type="xsd:string"/>
      <element name="in2" type="xsd:string"/>
      <element name="in3" type="xsd:string"/>
      <element maxOccurs="unbounded" name="in4" type="xsd:string"/>
      <element name="in5" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="areCodesRelatedResponse">
    <complexType>
     <sequence>
      <element name="areCodesRelatedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UnknownRelationshipCode">
    <sequence>
     <element name="relationship_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault7" type="impl:UnknownRelationshipCode"/>
   <complexType name="UnknownRelationQualifier">
    <sequence>
     <element name="relationQualifier_code" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault8" type="impl:UnknownRelationQualifier"/>
   <element name="getServiceName">
    <complexType/>
   </element>
   <element name="getServiceNameResponse">
    <complexType>
     <sequence>
      <element name="getServiceNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceVersion">
    <complexType/>
   </element>
   <element name="getServiceVersionResponse">
    <complexType>
     <sequence>
      <element name="getServiceVersionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceDescription">
    <complexType/>
   </element>
   <element name="getServiceDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getServiceDescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCTSVersion">
    <complexType/>
   </element>
   <element name="getCTSVersionResponse">
    <complexType>
     <sequence>
      <element name="getCTSVersionReturn" type="impl:CTSVersionId"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CTSVersionId">
    <sequence>
     <element name="major" type="xsd:short"/>
     <element name="minor" type="xsd:short"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="areCodesRelatedRequest">

      <wsdl:part element="impl:areCodesRelated" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownRelationQualifier">

      <wsdl:part element="impl:fault8" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getServiceVersionRequest">

      <wsdl:part element="impl:getServiceVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lookupDesignationResponse">

      <wsdl:part element="impl:lookupDesignationResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="TimeoutError">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getSupportedCodeSystemsResponse">

      <wsdl:part element="impl:getSupportedCodeSystemsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCTSVersionRequest">

      <wsdl:part element="impl:getCTSVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lookupCodeSystemInfoResponse">

      <wsdl:part element="impl:lookupCodeSystemInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCTSVersionResponse">

      <wsdl:part element="impl:getCTSVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceVersionResponse">

      <wsdl:part element="impl:getServiceVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownRelationshipCode">

      <wsdl:part element="impl:fault7" name="fault"/>

   </wsdl:message>

   <wsdl:message name="isConceptIdValidResponse">

      <wsdl:part element="impl:isConceptIdValidResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CodeSystemNameIdMismatch">

      <wsdl:part element="impl:fault3" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnknownLanguageCode">

      <wsdl:part element="impl:fault4" name="fault"/>

   </wsdl:message>

   <wsdl:message name="isConceptIdValidRequest">

      <wsdl:part element="impl:isConceptIdValid" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lookupDesignationRequest">

      <wsdl:part element="impl:lookupDesignation" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceDescriptionResponse">

      <wsdl:part element="impl:getServiceDescriptionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lookupCodeSystemInfoRequest">

      <wsdl:part element="impl:lookupCodeSystemInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSupportedCodeSystemsRequest">

      <wsdl:part element="impl:getSupportedCodeSystems" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownConceptCode">

      <wsdl:part element="impl:fault5" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnexpectedError">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="UnknownCodeSystem">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="NoApplicableDesignationFound">

      <wsdl:part element="impl:fault6" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getServiceNameResponse">

      <wsdl:part element="impl:getServiceNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceNameRequest">

      <wsdl:part element="impl:getServiceName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceDescriptionRequest">

      <wsdl:part element="impl:getServiceDescription" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="areCodesRelatedResponse">

      <wsdl:part element="impl:areCodesRelatedResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="RuntimeOperations">

      <wsdl:operation name="getSupportedCodeSystems">

         <wsdl:input message="impl:getSupportedCodeSystemsRequest" name="getSupportedCodeSystemsRequest"/>

         <wsdl:output message="impl:getSupportedCodeSystemsResponse" name="getSupportedCodeSystemsResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:TimeoutError" name="TimeoutError"/>

      </wsdl:operation>

      <wsdl:operation name="lookupCodeSystemInfo">

         <wsdl:input message="impl:lookupCodeSystemInfoRequest" name="lookupCodeSystemInfoRequest"/>

         <wsdl:output message="impl:lookupCodeSystemInfoResponse" name="lookupCodeSystemInfoResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:CodeSystemNameIdMismatch" name="CodeSystemNameIdMismatch"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

      </wsdl:operation>

      <wsdl:operation name="isConceptIdValid">

         <wsdl:input message="impl:isConceptIdValidRequest" name="isConceptIdValidRequest"/>

         <wsdl:output message="impl:isConceptIdValidResponse" name="isConceptIdValidResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

      </wsdl:operation>

      <wsdl:operation name="lookupDesignation">

         <wsdl:input message="impl:lookupDesignationRequest" name="lookupDesignationRequest"/>

         <wsdl:output message="impl:lookupDesignationResponse" name="lookupDesignationResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownConceptCode" name="UnknownConceptCode"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

         <wsdl:fault message="impl:NoApplicableDesignationFound" name="NoApplicableDesignationFound"/>

         <wsdl:fault message="impl:UnknownLanguageCode" name="UnknownLanguageCode"/>

      </wsdl:operation>

      <wsdl:operation name="areCodesRelated">

         <wsdl:input message="impl:areCodesRelatedRequest" name="areCodesRelatedRequest"/>

         <wsdl:output message="impl:areCodesRelatedResponse" name="areCodesRelatedResponse"/>

         <wsdl:fault message="impl:UnknownRelationshipCode" name="UnknownRelationshipCode"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

         <wsdl:fault message="impl:UnknownConceptCode" name="UnknownConceptCode"/>

         <wsdl:fault message="impl:UnknownCodeSystem" name="UnknownCodeSystem"/>

         <wsdl:fault message="impl:UnknownRelationQualifier" name="UnknownRelationQualifier"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceName">

         <wsdl:input message="impl:getServiceNameRequest" name="getServiceNameRequest"/>

         <wsdl:output message="impl:getServiceNameResponse" name="getServiceNameResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceVersion">

         <wsdl:input message="impl:getServiceVersionRequest" name="getServiceVersionRequest"/>

         <wsdl:output message="impl:getServiceVersionResponse" name="getServiceVersionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceDescription">

         <wsdl:input message="impl:getServiceDescriptionRequest" name="getServiceDescriptionRequest"/>

         <wsdl:output message="impl:getServiceDescriptionResponse" name="getServiceDescriptionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

      <wsdl:operation name="getCTSVersion">

         <wsdl:input message="impl:getCTSVersionRequest" name="getCTSVersionRequest"/>

         <wsdl:output message="impl:getCTSVersionResponse" name="getCTSVersionResponse"/>

         <wsdl:fault message="impl:UnexpectedError" name="UnexpectedError"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VocabRuntimeServiceSoapBinding" type="impl:RuntimeOperations">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSupportedCodeSystems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedCodeSystemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportedCodeSystemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="TimeoutError">

            <wsdlsoap:fault name="TimeoutError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lookupCodeSystemInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupCodeSystemInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupCodeSystemInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="CodeSystemNameIdMismatch">

            <wsdlsoap:fault name="CodeSystemNameIdMismatch" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isConceptIdValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isConceptIdValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isConceptIdValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lookupDesignation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lookupDesignationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lookupDesignationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownConceptCode">

            <wsdlsoap:fault name="UnknownConceptCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="NoApplicableDesignationFound">

            <wsdlsoap:fault name="NoApplicableDesignationFound" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownLanguageCode">

            <wsdlsoap:fault name="UnknownLanguageCode" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="areCodesRelated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="areCodesRelatedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="areCodesRelatedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnknownRelationshipCode">

            <wsdlsoap:fault name="UnknownRelationshipCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownConceptCode">

            <wsdlsoap:fault name="UnknownConceptCode" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownCodeSystem">

            <wsdlsoap:fault name="UnknownCodeSystem" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="UnknownRelationQualifier">

            <wsdlsoap:fault name="UnknownRelationQualifier" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCTSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCTSVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCTSVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnexpectedError">

            <wsdlsoap:fault name="UnexpectedError" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RuntimeOperationsService">

      <wsdl:port binding="impl:VocabRuntimeServiceSoapBinding" name="VocabRuntimeService">

         <wsdlsoap:address location="http://localhost:8080/axis/services/VocabRuntimeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
